/* Navigation Bar */

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 110px;
    padding-right: 110px;
    height: 90px;
}

#travel-logo {
    width: 10em;
    height: 6em;
    padding-bottom: 5px;
    position: relative;
    top: -18px;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-top: 30px;
    padding-right: 10px;
    width: 60%;
    height: 60px;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.7em;
    font-weight: 600;
}

#location-icon-div {
    display: none;
}

#bar-icon-div {
    display: none;
}

a:link {
    text-decoration: none;
    color: #282f57;
}

a:visited {
    text-decoration: none;
    color: #282f57;
}

#magnifying-glass {
    width: 1em;
    height: 1.2em;
}

#vert-line {
    display: flex;
    flex-direction: row;
    width: 1px;
    height: 50%;
}

#county-logo {
    width: 8em;
    height: 2em;
}

/* Travel Smart */

#travel-smart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
}

#travel-smart-img {
    width: 85%;
}


#travel-smart-text {
    position: absolute;
    width: 28%;
    height: 300px;
    left: 210px;
    top: 180px;
    font-family:"Obvia W05 Bold";
    font-size: 3em;
    font-weight: 800;
    line-height: 1.2;
    color: #282f57;
}

/* Journey Planner */

#journey-planner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 120px;
    width: 100%;
    height: 200px;
}

#text-and-form-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 70%;
    height: 90%;
    background-color: #282f57;
}

#journey-planner-header {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 1.2em;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 30px;
    color: #FFF;
}

#line-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 30px;
}

#planner-line {
    border: 0.5px solid #FFF;
    width: 90%;
}

#journey-planner-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    bottom: 30px;
    align-items: center;
    color: #FFF;
}

.input-label-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #FFF;
}

.input {
    padding: 8px;
    border-radius: 5px;
}

#select {
    padding: 10px;
    border-radius: 5px;
}

#button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #88d8c0;
    border-radius: 5px;
    margin-top: 14px;
    width: 20%;
    height: 70%;
    color: #282f57;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

#chevron {
    width: 0.8em;
    height: 0.8em;
}

.label-and-input {
    display: flex;
    flex-direction: column;
}

/* Blurbs */

#blurb-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin-right: 20px;
}

.blurb-image {
    width: 4em;
    height: 4em;
    margin-bottom: 20px;
}

.blurb-header {
    font-family:"Obvia W05 Bold";
    font-size: 1.5em;
    color: #282f57;
}

.blurb-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    color: #282f57;
    width: 70%;
    line-height: 1.8;
}

/* Footer */

#footer-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 130px;
}

#footer-text-box {
    width: 50%;
    padding-top: 60px;
    padding-left: 170px;
    background-color: #F3FFFF;
}

#footer-header {
    font-family:"Obvia W05 Bold";
    font-size: 3em;
    font-weight: 400;
    color: #282f57;
}

#footer-text {
    font-family: 'Open Sans', sans-serif;
    width: 80%;
    line-height: 2;
    color: #282f57;
}

#action-box {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#action-arrow {
    width: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
}

#action-text {
    font-size: 0.9em;
    font-weight: 700;
}

#footer-image {
    width: 50%;
}






/* MOBILE MEDIA QUERIES */
/* (max-device-width : 480px) */


@media only screen
and (min-device-width : 320px)
and (max-device-width : 820px) {

/* Mobile Navigation Bar */

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
    height: 80px;
}

#travel-logo {
    width: 8em;
    height: 4.5em;
    padding-bottom: 5px;
    position: relative;
    top: -3px;
    right: 0px;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    list-style-type: none;
    position: relative;
    top: 0px;
    right: 0px;
    padding-top: 0px;
    padding-right: 0px;
    width: 40%;
    height: 100%;
    font-size: 0.7em;
    font-weight: 600;
    border-right-width: 1px;
    border-right-color: black;
    border-right-style: solid;
    border-left-width: 1px;
    border-left-color: black;
    border-left-style: solid;
}

#link-and-location-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    right: 20px;
    height: 100%;
    width: 100%;
    padding-top: 20px;
}

#location-icon-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    left: 8px;
}

.fa-location-dot {
    color: #88d8c0;
    font-size: 2em;
}

#bar-icon-div {
    display: inline;
    position: relative;
    top: 5px;
}

.fa-bars {
    color: #282f57;
    font-size: 2em;
}

.hideme-mobile {
    display: none;
}


/* Mobile Travel Smart */

#travel-smart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

#travel-smart-img {
    width: 85%;
    object-fit: cover;
    object-position: 50% 50%;
    filter: brightness(50%);
}


#travel-smart-text {
    position: absolute;
    width: 70%;
    height: 300px;
    left: 60px;
    top: 170px;
    font-size: 2.2em;
    font-weight: 800;
    line-height: 1.2;
    color: #FFF;
}


/* Mobile Journey Planner */

#journey-planner-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 200px;
    height: 200px;
    margin-bottom: 0px;
}

#text-and-form-box {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 80%;
    height: 380px;
    background-color: #282f57;
}

#journey-planner-header {
    font-size: 0.9em;
    padding-top: 20px;
    padding-left: 180px;
    padding-bottom: 30px;
    color: #FFF;
}

#journey-planner-form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: #FFF;
}

.input-label-text {
    font-size: 0.8em;
    color: #FFF;
}

.input {
    padding: 14px;
    border-radius: 5px;
    width: 270px;
}

#select {
    padding: 15px;
    border-radius: 5px;
    width: 270px;
}

#button-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #88d8c0;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 60%;
    height: 55px;
    color: #282f57;
    font-size: 0.9em;
    font-weight: 600;
}

#chevron {
    width: 0.8em;
    height: 0.8em;
}

.label-and-input {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}


/* Mobile Blurbs */

#blurb-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 900px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.blurb-image {
    width: 7em;
    height: 7em;
    margin-bottom: 20px;
}

.blurb-header {
    font-size: 1.5em;
    color: #282f57;
}

.blurb-text {
    font-size: 0.8em;
    color: #282f57;
    width: 70%;
    line-height: 1.8;
}

/* Mobile Footer */

#footer-container {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 0px;
}

#footer-text-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 50%;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: #F3FFFF;
}

#footer-header {
    font-size: 1.7em;
    font-weight: 700;
    color: #282f57;
    margin-bottom: 20px;
}

#footer-text {
    width: 80%;
    font-size: 1em;
    font-weight: 300;
    height: 200px;
    line-height: 2;
    color: #282f57;
}

#action-box {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#action-arrow {
    width: 1.5em;
    margin-right: 10px;
    margin-left: 10px;
}

#action-text {
    font-size: 0.9em;
    font-weight: 700;
}

#footer-image {
    width: 100%;
    height: 50%;
}

}