/* Navigation Bar */

#nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
}

#travel-logo {
    width: 11em;
    height: 7em;
    padding-bottom: 5px;
    position: relative;
    top: -18px;
}

#nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    padding-right: 10px;
    width: 60%;
    height: 60px;
    font-size: 0.7em;
    font-weight: 600;
}

#magnifying-glass {
    width: 1.4em;
    height: 1.7em;
}

#county-logo {
    width: 8em;
    height: 2em;
}

/* Travel Smart */

#travel-smart {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 500px;
}

#travel-smart-text {
    position: absolute;
    width: 28%;
    height: 300px;
    left: 180px;
    top: 160px;
    font-size: 3em;
    font-weight: 700;
}

/* Journey Planner */

#journey-planner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
}

#text-and-form {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 75%;
    height: 90%;
    background-color: #181868;
}

#journey-planner-text {
    font-size: 1.4em;
    padding-top: 20px;
    padding-left: 30px;
    padding-bottom: 30px;
    color: #FFF;
}


#journey-planner-form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    color: #FFF;
}

.label-and-input {
    display: flex;
    flex-direction: column;
}

#journey-planner-form {
    display: flex;
    flex-direction: row;
}

/* Blurbs */

#blurb-container {
    display: flex;
    flex-direction: row;
    justify-self: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin-top: 80px;
    margin-bottom: 100px;
}

.blurb {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    margin-right: 20px;
}

.blurb-image {
    width: 4em;
    height: 4em;
}

.blurb-header {
    font-size: 1.5em;
}

.blurb-text {
    font-size: 1em;
   
}

/* Footer */

#footer-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 150px;
    background-color: brown;
}

#footer-text-box {
    width: 50%;
    padding-top: 60px;
    padding-left: 170px;
}

#footer-header {
    font-size: 3em;
}

#footer-text {
    width: 80%;
}

#footer-image {
    width: 50%;
}